.payment-container{
    margin-top: 80px;
    min-height: 80vh;
    padding: 40px 0;
    .stepper{
        .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
            background:#f15a24 !important;
        }
        .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
            background:#f15a24 !important;
        }
        .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
            background: #f15a24 ;
        }
        .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
            color: #f15a24;
        }
        .ant-steps-item-title{
            font-size: 14px;
            font-weight: 700;
        }
    }
}