@media screen and (max-width: 520px) {
  .order-container {
    .right-side {
      padding: 10px;
      .order-collapse {
        .ant-collapse-header {
          font-size: 15px !important;
          font-weight: 700 !important;
          span {
            font-size: 15px !important;
          }
          .sign-span {
            font-size: 13px !important;
            margin-right: 5px !important;
          }

          .orderstatus {
            font-size: 10px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .order-container {
    .right-side {
      padding: 5px;
      .order-collapse {
        .ant-collapse-header {
          font-weight: 700 !important;
          span {
            font-size: 13px !important;
          }
          .sign-span {
            font-size: 12px !important;
            margin-right: 2px !important;
          }

          .orderstatus {
            font-size: 10px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 415px) {
  .order-container {
    .right-side {
      padding: 2px;
      .order-collapse {
        .ant-collapse-header {
          font-size: 12px !important;
          font-weight: 700 !important;
          span {
            font-size: 10px !important;
          }
          .sign-span {
            font-size: 8px !important;
            margin-right: 0px !important;
          }

          .orderstatus {
            font-size: 7px !important;
          }
        }
      }
    }
  }
}

.order-container {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  .order-header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 20px 0;
    padding-top: 0;
  }
  .right-side {
    background: #f7f7f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    h2 {
      font-weight: 700;
      color: #d97c29;
    }
    .order-collapse {
      .ant-collapse-header {
        font-size: 18px;
        font-weight: 700;
        span {
          font-size: 17px;
        }

        .sign-span {
          color: #d97c29;
          margin-right: 10px;
        }
        .orderstatus {
          font-size: 13px;
        }
      }
      .order-panel {
        .img-div {
          width: 122px;
          img {
            width: 100%;
            border-radius: 20px;
          }
        }
        .desc-div {
          padding-left: 20px;
          .product-name {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 20px;
          }
          .product-Attname {
            font-size: 16px;
            font-weight: bold;
          }
          .product-desc {
            -webkit-line-clamp: 3;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
          }
          .seller-div {
            margin-top: 10px;
            span {
              font-weight: 700;
            }
          }
        }
        .product-price {
          font-size: 20px;
          font-weight: 700;
          text-align: end;
          .rs-sign {
            color: #d97c29;
            margin-right: 10px;
          }
        }
        .product-quantity {
          text-align: end;
          font-size: 20px;
          font-weight: 700;
        }
        .total-price {
          font-size: 20px;
          font-weight: 700;
          text-align: end;
          .rs-sign {
            color: #d97c29;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .user-container {
    background: #f7f7f9;
    padding: 20px;
    border-radius: 10px;
    .customer-title {
      font-weight: 700;
      color: #d97c29;
    }
    .user-div {
      border-bottom: 1px solid #e1d8d8;
      padding-bottom: 19px;
      display: flex;
      align-items: center;
      img {
        width: 46px;
        margin-right: 18px;
      }
      .customer-profile {
        font-size: 20px;
        font-weight: 700;
      }
      .user-orders {
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
    }
    .user-email {
      padding: 14px 0;
      display: flex;
      border-bottom: 1px solid #e1d8d8;
      svg {
        margin-right: 9px;
      }
      .email {
        font-weight: 700;
      }
    }
    .address-div {
      padding: 10px;
      div {
        color: #9b9393;
        font-weight: 700;
      }
      .shipping-address {
        padding: 15px 0;
        font-size: 16px;
        font-weight: 700;
        color: black;
      }
    }
  }
}
