.recommendation {
  background: #eff1fa;
  padding: 70px 30px;
  text-align: center;
  color: #002d70;
}
.recommendation h4 {
  font-size: 22px;
  font-weight: bold;
}

.recommendation button {
  margin: 16px 0;
  background: #002d70;
  color: #fff;
  min-width: 20%;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
}
.recommendation button:hover {
  background: #001c46;
}

.recommendation p {
  margin: 0;
  font-size: 18px;
  color: #000;
}

.recommendation p a {
  color: #002d70;
  text-decoration: underline;
}
