/* section side bar */
.admin-panel-navbar-wrapper {
  position: fixed;
  /* top: 100px; */
  left: 0;
  z-index: 99999;
  width: 230px;
  height: 100%;
  background: #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  transition: 0.3s all;
  /* margin-top: 15px; */
  padding-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    top: 100px;
  }
}
@media screen and (max-width: 1088px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    top: 90px;
  }
}
@media screen and (max-width: 953px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    top: 85px;
  }
}
@media screen and (max-width: 840px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    top: 85px;
  }
}
/* @media screen and (max-width: 1281px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 7px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1279px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 47px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 1005px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 28px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 943px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 12px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 562px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 10px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 533px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 9px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 523px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 5px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 475px) {
  .admin-panel-navbar-wrapper {
    position: fixed;
    margin-top: 0px;
    padding-bottom: 60px;
  }
} */

.admin-panel-navbar::-webkit-scrollbar {
  width: 10px;
}

.admin-panel-navbar::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 10px;
}

.admin-panel-navbar::-webkit-scrollbar-thumb:hover {
  background: #dadada;
}

.admin-panel-navbar-wrapper-show {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
}
/* section side bar */

.admin-panel-navbar {
  z-index: -1;
  overflow: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.24);
  margin-top: 15px;
}

.admin-panel-navbar .nav-items {
  padding: 10px 0px;
}

.admin-panel-navbar .nav-items li {
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  border-bottom: 1px solid #666666;
  transition: all 0.3s linear;
}

.admin-panel-navbar .nav-items li:hover {
  background: #666666;
}

.admin-panel-navbar .nav-items li.selected {
  background-color: #ebebeb;
  color: #666666;
}
.admin-panel-navbar .nav-items li a {
  color: #666666;
  padding: 16px 10px;
  display: block;
  width: 100%;
}
.admin-panel-navbar .nav-items li a:hover {
  background-color: #666666;
  color: #fff;
}

@media screen and (max-width: 763px) {
  .admin-panel-navbar-wrapper {
    visibility: hidden;
    opacity: 0;
    top: 65px;
    transform: translateX(-400px);
  }
}
