.verify-account {
  /* background: #1a2030; */
  background: white;
  background-image: url(../../../../assets/backgrounds/auth.png);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verify-account .logo {
  width: 230px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.verify-account h4 {
  color: #666;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

.verify-account a {
  display: block;
  text-align: center;
  width: 180px;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  margin: 30px auto;
  margin-bottom: 0;
  transition: 0.3s all;
  background: #fdfdfd;
  border: 1px solid #fdfdfd;
}
