/* .application-criteria {
  border-top: 1px solid red;
  padding: 20px;
} */
.application-criteria .copyright {
  padding-bottom: 20px;
}
.css-r47a1p-MuiFormControl-root {
  margin: 0 !important;
}
/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px !important;
} */
