.footer-2 {
  background-color: #f6f6f6;
  padding-top: 25px;
}
ul.how-we-help li.heading {
  color: #646464;
  font-size: 25px;
  font-weight: bold;
}
.footer-2 ul.how-we-help {
  list-style-type: none;
}

.footer-2 ul.how-we-help li {
  color: #646464;
  list-style-type: none;
  font-size: 13px;
  padding: 10px 0px;
}
.footer-2 ul.how-we-help li.heading {
  font-size: 22px !important;
}
.follow-us {
  list-style: none;
}
.follow-us ul li.heading {
  color: #646464;
  font-weight: bold;
  font-size: 17px !important;
  padding: 10px 0px;
}
.follow-us .social-media {
  display: flex;
  padding-top: 10px;
}
.follow-us .social-media li:nth-child(1) {
  margin-right: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-us .social-media li:nth-child(2) {
  margin-right: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-us .social-media li:nth-child(3) {
  margin-right: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-us .social-media li:nth-child(4) {
  margin-right: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .footer-2 {
    padding: 10px 20px;
  }
}
